<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    {% if session['role'] == 1 or session['position'] == "MD" or session['position'] == "Director"%}
    <h1>All approved WFH requests in the organisation</h1>
    <table>
        <thead>
            <tr>
                <th>Request ID</th>
                <th>Requester_ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Requestor Supervisor</th>
                <th>Request Status</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
        </thead>
        <tbody>
            {% for request in org %}
            <tr>
                <td>{{ request.request_ID }}</td>
                <td>{{ request.Requester_ID }}</td>
                <td>{{ request.start_date }}</td>
                <td>{{ request.end_date }}</td>
                <td>{{ request.Requester_Supervisor }}</td>
                <td>{{ request.Request_Status }}</td>
                <td>{{ request.Monday }}</td>
                <td>{{ request.Tuesday }}</td>
                <td>{{ request.Wednesday }}</td>
                <td>{{ request.Thursday }}</td>
                <td>{{ request.Friday }}</td>
                <td>{{ request.Saturday }}</td>
                <td>{{ request.Sunday }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>